<div class="item_inner">
  <div class="product-image">
    <a href="#"><img data-lazyload="{{ empty_img | asset_img_url: img_url }}"></a>
  </div>
  {% comment %}
  <div class="product-desc">
    <div class="product-title">
      <h4><a href="#">Product {{i}}</a></h4>
      <span>SKU: 00{{i}}</span>
    </div>
    <div class="product-price">
      <ins>{{ 2500 | money }}</ins>
      <del>{{ 2500 | money }}</del>
    </div>
  </div>	
  {% endcomment %}
</div>