<div class='list_layout'>
  <div class='row'>
    {% for product in collection.products limit: pagination_limit %}
    <div class='col-xs-12 product_item style_1'>
      {% include 'product_list_item' with {img_url: img_size} %}
    </div>
    {% endfor %}
  </div>
</div>