<div class="container clearfix">
  {% include 'collection_top_part' %}
  <!-- Content
============================================= -->
  {% include 'collection_main' %}

  <!-- #content end -->
</div>