<div class='banner_bottom_wrapper banner_absolute'>
  <div class='container'>
<div class='banner_bottom'>
  <a href='{{ settings.footer_banner_link }}'><img data-lazyload='{{ "footer_banner.jpg" | asset_url }}' alt='{{ page_title }}' /></a>
</div>
  </div>
</div>