<style>
  @media (max-width: 991px) {
    .menu_mb {
      float: right;
      padding-top: 4px;
    }
    #menu_trigger {
      border: 1px solid #fff;
      height: 30px;
      width: 30px;
      display: block;
      padding: 9px 7px;
    }
    #menu_trigger span {
      border-top: 2px solid #fff;
      width: 100%;
      margin-bottom: 2px;
      display: block;
    }
    #menu_trigger span:last-child {
      margin: 0;
    }
    @media (max-width: 767px) {
      .menu_mb {
        padding-top: 5px;
      }
    }
  }
</style>
<div class='menu_mb hidden-md hidden-lg'>
<a href='' id='menu_trigger'><span></span><span></span><span></span></a>
</div>
