<ul class='tag_group nostyled noleftpadding'>
  {% for tag in product.tags %}
  <li class='tag'>
    {% if current_tags contains tag %}
    <a href=''>
      <i class='fa fa-tag'></i>
      {{ tag }}
    </a>
    {% else %}
    <a href='/collections/all/{{ tag | handleize }}'>
      <i class='fa fa-tag'></i>
      {{ tag }}
    </a>
    {% endif %}
  </li>
  {% endfor %}
</ul>