<div id="recover-password" style="display:none;" class="userbox">
	<div class="acctitle"><i class="icon-refresh"></i>Quên mật khẩu</div>
	<div class="">
		<!--<form accept-charset="UTF-8" action="/account/recover" id="recover_customer_password" method="post">-->
		<form accept-charset="UTF-8" id="recover_customer_password" >
			<input name="FormType" type="hidden" value="recover_customer_password">
			<input name="utf8" type="hidden" value="true">
			
			<div class="col_full">
				<label for="recover-email">Email:</label>
				<input type="text" id="recover-email" name="email" value="" class="form-control" />
			</div>

			<div class="col_full nobottommargin">
				<button class="button button-3d button-black nomargin" type="submit">Gửi</button>
				<button class="button button-3d button-red nomargin" onclick="hideRecoverPasswordForm(); return false;" name="">Hủy</button>
			</div>
		</form>
	</div>   
</div>

<script>
	$('#recover_customer_password').submit(function() {
		$.ajax({
			type: 'POST',
			url: '/account/recover',
			data: $(this).serialize(),
			success: function() {
				alert('Vui lòng kiểm tra mail để đổi mật khẩu');
			}
		});
	});
</script>